.popup {
    margin: 0 auto;
    position    : fixed;
    top         : 0;
    bottom      : 0;
    left        : 0;
    right       : 0;
    width       : 282px;
    height      : 322px;
    display     : none;
    padding     : 123px 19px 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    /*background:#000000;
    opacity     : 0.5;
    z-index     : 2;*/

}

@media screen and (min-width:1280px) {
    .popup {
        position    : fixed;
        top         : 0;
        bottom      : 0;
        left        : 0;
        right       : 0;
        width       : 430px;
        height      : 330px;
        display     : none;
        padding     : 195px 425px 0;
        /*background:#000000;
        opacity     : 0.5;
        z-index     : 2;*/

    }
}