.popup {
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    
}


.popup::before {
    content: "";
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

