.profile__edit-button {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    box-sizing: border-box;
    background: #000;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    min-width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-image: url('../../../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
    

}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__edit-button:active {
    opacity: 1;
}

@media screen and (min-width: 1280px) {
    .profile__edit-button {
        margin: 0;
        min-width: 24px;
        height: 24px;
        background-size: 7px;
    }
}
