.profile__vector {
    width: 7.5px;
    height: 7.5px;
   padding-bottom: 5.25px;
   padding-top: 4.25px;
    color: #FFFFFF;
}


@media screen and (min-width: 1280px) {
    .profile__vector {
        width: 10px;
        height: 10px;
        padding: 0;
    }
}