.popup__input {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(0,0,0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    min-width: 238px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 9px;
}

.popup__input-error {
    margin     : 0;
    padding    : 0;
    color      : #FF0000;
    font-weight: 400;
    font-size  : 12px;
    line-height: 15px;
    transition: .3s;
    width: 238px;
    text-align: start;
    word-wrap: break-word;
}

@media screen and (min-width: 1280px) {
    .popup__input-error {
        min-width: 330px;
    }
}


@media screen and (min-width: 1280px) {
    .popup__input {
        min-width: 330px;
        padding-bottom: 8px;
    }
}


