.popup__form-close-btn {
    all: unset;
    position: absolute;
    bottom: 339px;
    left: 262px;
    width: 20px;
    height: 20px;
    transition: opacity ease-in-out 0.3s;
    background-image: url("../../../images/Close\ Icon.svg");
    cursor: pointer;
}

.popup__form-close-btn:hover {
    opacity: 0.6;
}

.popup__form-close-btn:active {
    opacity: 1;
}

@media screen and (min-width: 1280px) {
    .popup__form-close-btn {
        bottom: 337px;
        left: 437px;
        right: 0;
        width: 32px;
        height: 32px;
        background-image: url("../../../images/Close\ Icon\ \(1280px\).svg");
    }
}
