.popup__form-close-btn {
    all             : unset;
    position        : absolute;
   bottom: 320px;
   left: 260px;
    width           : 20px;
    height          : 20px;
    transition      : opacity ease-in-out 0.3s;
    background-image: url("../../../images/Close\ Icon.svg");
    cursor          : pointer;
}


.popup__form-close-btn:hover {
    opacity: 0.6;
}

.popup__form-close-btn:active {
    opacity: 1;
}

@media screen and (min-width:1280px) {
    .popup__form-close-btn {
        position        : absolute;
        bottom: 333px;
       left: 430px;
       right: 0;
       width: 32px;
       height: 32px;
        background-image: url("../../../images/Close\ Icon\ \(1280px\).svg");
        
    }

}