.popup__content {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    
}



@media screen and (min-width:1280px) {
    .popup__content {
    
        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 36px;
        padding-right: 36px;
       
        
    }
}