.header {
    margin: 0 auto;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 38.25px;
    width: 100%

}


@media screen and (min-width: 1280px){
    .header {
        padding: 0;
        padding-top: 45px;
        padding-bottom: 36.25px;
        width: 68.8%;
    
    }


}