.popup__description {
    margin      : 0;
    width       : 74px;
    padding-left: 82px;


    font-family: 'Inter';
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    line-height: 17px;
    text-align : center;

    color: #FFFFFF;
}



@media screen and (min-width:1280px) {
    .popup__description {
        margin      : 0;
        width       : 109px;
        padding-left: 125px;


        
        font-weight: 400;
        font-size  : 18px;
        line-height: 22px;
        text-align : center;


    }



}