.popup__form {
    all: unset;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 83%;
}


.popup__form-invalid .popup__input {
border-color: red;
}

.popup__form-invalid .popup__input-error { 
    opacity: 1;
    padding: 10px;
  }