.popup__form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.popup__form-invalid .popup__input {
border-color: red;
}

.popup__form-invalid .popup__input-error { 
    opacity: 1;
    padding: 10px;
  }