.popup__form-input {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(241,241,241);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 238px;
}

@media screen and (min-width: 1280px) {
    .popup__form-input {
        width: 330px;

    }
}
