.popup__form-input_input-name {
    margin: 0;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 238px;
}

@media screen and (min-width: 1280px) {
    .popup__form-input_input-name {
        max-width: 330px;
    }
}




