.profile__informs {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}


@media screen and (min-width: 1280px) {
    .profile__informs {
    gap:18px;
    margin-left: 30px;
    }
}