.popup__form-input_input-job {
    margin: 0;
    padding-bottom: 13px;
    margin-top: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 238px;
}

@media screen and (min-width: 1280px) {
    .popup__form-input_input-job {
        max-width: 330px;
    }
}
