.popup__form-button-save {
    margin: 0;
    padding: 0;
    width: 238px;
    height: 46px;
    color: white;
    background: #000000;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    margin-top: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__form-button-save:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1280px) {
    .popup__form-button-save {
        margin: 0;
        padding: 0;
        margin-top: 48px;
        width: 358px;
        height: 50px;
        background: #000000;
        border-radius: 2px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        
    }
}
