.profile__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 1280px) {
    .profile__info {
        padding-bottom:  28px; ;
        align-items: flex-start;
        text-align: left;
    }
}
