.groups {
    margin: 0 auto;
    width: 282px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .groups {
        width: 584px;
        gap: 20px;
        padding-bottom: 48px;
    }
}
@media screen and (min-width: 1024px) {
    .groups {
        width: 928px;
        gap: 17px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .groups {
        width: 880px;
        gap: 17px;
        padding-bottom: 66px;
    }
}
