.groups__like {
    padding: 0;
    min-width: 22px;
    margin-right: 4px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    background-image: url('../../../images/blacklike.svg');
    background-position: center;
    background-repeat: no-repeat;
}



